img.lazy {
       width: 400px;
       height: 566px;
       display: block;
   }

   img.prev.lazy {
          width: 180px;
          height: 255px;
          display: block;
      }
.danger {
  background: #e3342f;
  color: #fff;
}
.breadcrumb > li.breadcrumb-item:nth-child(n+2)::before
{
  content: ">"
}

.breadcrumb
{
    border-radius: 0;
    background: #fff;
    margin: 5px 0 10px;
    padding: 5px 0 10px;
}

nav.navbar.navbar-secondary
{
  padding: 0;
  margin: 0;
}

[class*='col-'].dropdown-full
{
  padding: 0;
  border:0;
}

[class*='col-'].bg-secondary
{
  padding: 0;
  border:0;
  background: #F5F5F5 !important;
}



div.row div.col-md-5.bg-secondary hr
{
  border:none;
  width: 90%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #dedede;
  box-shadow: 0 20px 20px -20px #777;
  margin: -50px auto 10px;
}


div#app main.container div.row [class*='col-'] h3
{
  margin-top: 15px;
  margin-bottom: 15px;

}



div.row [class*='col-'].bg-secondary h3 > i {
  margin: 15px;
}

div.dropdown.dropdown-full #dropdownMenuButton
{
  width:100%;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  height: 50px;
  background: #d0d0d0;
  text-align: center;
}

div.dropdown.dropdown-full #dropdownMenuButton span{
  font-size: 1.5em;
}

div.dropdown.dropdown-full #dropdownMenuButton > i
{

  position: absolute;
  top:0;
  right: 0;
  background: #c0c0c0;
  padding: 17px;
  font-weight: bold;
  font-size: 1em;
}

div.dropdown.dropdown-full #dropdownMenuButton:hover,
div.dropdown.dropdown-full #dropdownMenuButton:active,
div.dropdown.dropdown-full #dropdownMenuButton:enabled,
div.dropdown.dropdown-full #dropdownMenuButton:focus
{
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;
  background: #d0d0d0;
}
div.dropdown.dropdown-full.show div.dropdown-menu
{
  width: 100%;
}

div.dropdown.dropdown-full .dropdown-toggle::after {
  content: none;
}

ul.navbar-nav.ml-auto li:nth-child(3)
{
    border-right: 1px solid #e8e8e8;
}
