container_commands:
    01-updateComposer:
        command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update
    02-createEnvFile:
        command: cp .env.example .env
    99-optimize:
        command: "/usr/bin/composer.phar dump-autoload --optimize"
option_settings:
    "aws:elasticbeanstalk:container:php:phpini":
        document_root: /public
        memory_limit: 512M
    "aws:elasticbeanstalk:application:environment":
        COMPOSER_HOME: /root
        APP_NAME: FlipBook
        APP_ENV: development
        APP_DEBUG: true
