commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_create_cron_jobs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      echo "* * * * * . /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/www/html/artisan schedule:run >> /dev/null 2>&1" > /tmp/crontab

crontab /tmp/crontab
